@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, H:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
Theme Name: my_theme
Theme URI: http://www.mickael-boulat.fr
Author: Micka├½l BOULAT
Author URI: http://www.mickael-boulat.fr
Description: Simple One Page Resume 
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: my_theme
Tags:
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* line 41, ../sass/default.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 47, ../sass/default.scss */
body {
  margin: 0;
}

/* line 51, ../sass/default.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 66, ../sass/default.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 74, ../sass/default.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 79, ../sass/default.scss */
[hidden],
template {
  display: none;
}

/* line 84, ../sass/default.scss */
a {
  background-color: transparent;
}

/* line 88, ../sass/default.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 93, ../sass/default.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 97, ../sass/default.scss */
b,
strong {
  font-weight: bold;
}

/* line 102, ../sass/default.scss */
dfn {
  font-style: italic;
}

/* line 106, ../sass/default.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 111, ../sass/default.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 116, ../sass/default.scss */
small {
  font-size: 80%;
}

/* line 120, ../sass/default.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 128, ../sass/default.scss */
sup {
  top: -0.5em;
}

/* line 132, ../sass/default.scss */
sub {
  bottom: -0.25em;
}

/* line 136, ../sass/default.scss */
img {
  border: 0;
}

/* line 140, ../sass/default.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 144, ../sass/default.scss */
figure {
  margin: 1em 40px;
}

/* line 148, ../sass/default.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 153, ../sass/default.scss */
pre {
  overflow: auto;
}

/* line 157, ../sass/default.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 165, ../sass/default.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 175, ../sass/default.scss */
button {
  overflow: visible;
}

/* line 179, ../sass/default.scss */
button,
select {
  text-transform: none;
}

/* line 184, ../sass/default.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 192, ../sass/default.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 197, ../sass/default.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 203, ../sass/default.scss */
input {
  line-height: normal;
}

/* line 207, ../sass/default.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 213, ../sass/default.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 218, ../sass/default.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 223, ../sass/default.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 228, ../sass/default.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 234, ../sass/default.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 239, ../sass/default.scss */
textarea {
  overflow: auto;
}

/* line 243, ../sass/default.scss */
optgroup {
  font-weight: bold;
}

/* line 247, ../sass/default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 252, ../sass/default.scss */
td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/* line 260, ../sass/default.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 272, ../sass/default.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* line 281, ../sass/default.scss */
p {
  margin-bottom: 1.5em;
}

/* line 285, ../sass/default.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 292, ../sass/default.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 296, ../sass/default.scss */
address {
  margin: 0 0 1.5em;
}

/* line 300, ../sass/default.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

/* line 312, ../sass/default.scss */
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

/* line 321, ../sass/default.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 327, ../sass/default.scss */
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 333, ../sass/default.scss */
big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* line 340, ../sass/default.scss */
html {
  box-sizing: border-box;
}

/* line 344, ../sass/default.scss */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* line 350, ../sass/default.scss */
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

/* line 354, ../sass/default.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

/* line 361, ../sass/default.scss */
blockquote,
q {
  quotes: "" "";
}

/* line 366, ../sass/default.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* line 373, ../sass/default.scss */
ul,
ol {
  margin: 0 0 1.5em 3em;
}

/* line 378, ../sass/default.scss */
ul {
  list-style: disc;
}

/* line 382, ../sass/default.scss */
ol {
  list-style: decimal;
}

/* line 386, ../sass/default.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 392, ../sass/default.scss */
dt {
  font-weight: bold;
}

/* line 396, ../sass/default.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 400, ../sass/default.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 405, ../sass/default.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* line 413, ../sass/default.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 430, ../sass/default.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 438, ../sass/default.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 450, ../sass/default.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 461, ../sass/default.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 470, ../sass/default.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 478, ../sass/default.scss */
textarea {
  padding-left: 3px;
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/* line 489, ../sass/default.scss */
a {
  color: royalblue;
}

/* line 493, ../sass/default.scss */
a:visited {
  color: purple;
}

/* line 497, ../sass/default.scss */
a:hover,
a:focus,
a:active {
  color: midnightblue;
}

/* line 503, ../sass/default.scss */
a:focus {
  outline: thin dotted;
}

/* line 507, ../sass/default.scss */
a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* line 515, ../sass/default.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 522, ../sass/default.scss */
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 529, ../sass/default.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 534, ../sass/default.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* line 539, ../sass/default.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}

/* line 548, ../sass/default.scss */
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

/* line 553, ../sass/default.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 573, ../sass/default.scss */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

/* line 578, ../sass/default.scss */
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

/* Small menu. */
/* line 590, ../sass/default.scss */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  /* line 596, ../sass/default.scss */
  .menu-toggle {
    display: none;
  }

  /* line 599, ../sass/default.scss */
  .main-navigation ul {
    display: block;
  }
}
/* line 604, ../sass/default.scss */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 611, ../sass/default.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 618, ../sass/default.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
/* line 630, ../sass/default.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 638, ../sass/default.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
/* line 659, ../sass/default.scss */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/* line 666, ../sass/default.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 672, ../sass/default.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 678, ../sass/default.scss */
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/* line 688, ../sass/default.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

/* line 705, ../sass/default.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/* line 717, ../sass/default.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
/* line 722, ../sass/default.scss */
.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/* line 732, ../sass/default.scss */
.sticky {
  display: block;
}

/* line 736, ../sass/default.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 740, ../sass/default.scss */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 745, ../sass/default.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 750, ../sass/default.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 756, ../sass/default.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
/* line 764, ../sass/default.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/* line 772, ../sass/default.scss */
.comment-content a {
  word-wrap: break-word;
}

/* line 776, ../sass/default.scss */
.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 784, ../sass/default.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
/* line 790, ../sass/default.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/* line 797, ../sass/default.scss */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
/* line 807, ../sass/default.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/* line 816, ../sass/default.scss */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 821, ../sass/default.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 827, ../sass/default.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 831, ../sass/default.scss */
.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
/* line 838, ../sass/default.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 842, ../sass/default.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 849, ../sass/default.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 853, ../sass/default.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 857, ../sass/default.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 861, ../sass/default.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 865, ../sass/default.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 869, ../sass/default.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 873, ../sass/default.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 877, ../sass/default.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 881, ../sass/default.scss */
.gallery-caption {
  display: block;
}

/** VARIABLES *******************************************************************************/
/********************************************************************************************/
/* line 35, ../sass/global-style.scss */
body {
  background: #1b1b19;
  font-family: "Open Sans";
  color: #4c4c4c;
}

/* line 42, ../sass/global-style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 49, ../sass/global-style.scss */
h1 {
  font-weight: bold;
  color: #1b1b19;
}

/* line 49, ../sass/global-style.scss */
h2 {
  font-weight: bold;
  color: #1b1b19;
}

/* line 49, ../sass/global-style.scss */
h3 {
  font-weight: bold;
  color: #1b1b19;
}

/* line 49, ../sass/global-style.scss */
h4 {
  font-weight: bold;
  color: #1b1b19;
}

/* line 49, ../sass/global-style.scss */
h5 {
  font-weight: bold;
  color: #1b1b19;
}

/* line 49, ../sass/global-style.scss */
h6 {
  font-weight: bold;
  color: #1b1b19;
}

/* line 58, ../sass/global-style.scss */
.site-branding {
  text-align: right;
  background: #1b1b19;
}

/* line 63, ../sass/global-style.scss */
.site-header {
  clear: both;
}
/* line 66, ../sass/global-style.scss */
.site-header img {
  float: left;
  width: 150px;
  height: auto;
  padding-top: 8px;
  padding-left: 20px;
}
/* line 73, ../sass/global-style.scss */
.site-header nav {
  z-index: 15;
  background: #1b1b19;
  position: fixed;
  z-index: 9;
  float: left;
  border-bottom: #80bd00 1px solid;
  line-height: 92px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 82, ../sass/global-style.scss */
.site-header nav ul {
  text-align: right;
  float: right;
}
/* line 85, ../sass/global-style.scss */
.site-header nav ul li {
  padding: 0 10px;
}
/* line 87, ../sass/global-style.scss */
.site-header nav ul li a {
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  color: #a3f000;
  font-weight: 100;
  text-transform: uppercase;
}
/* line 92, ../sass/global-style.scss */
.site-header nav ul li a:hover {
  color: white;
}
@media screen and (min-width: 1300px) {
  /* line 92, ../sass/global-style.scss */
  .site-header nav ul li a:hover {
    padding-top: 20px;
    -moz-transform: rotateZ(-2.5deg);
    -ms-transform: rotateZ(-2.5deg);
    -webkit-transform: rotateZ(-2.5deg);
    transform: rotateZ(-2.5deg);
  }
}
/* line 103, ../sass/global-style.scss */
.site-header nav ul li a:before {
  content: "{";
  color: white;
  font-weight: bold;
  padding: 0 15px;
}
/* line 110, ../sass/global-style.scss */
.site-header nav ul li a:after {
  content: "}";
  color: white;
  font-weight: bold;
  padding: 0 15px;
}
/* line 120, ../sass/global-style.scss */
.site-header nav:after {
  display: block;
  content: '';
  background: #1b1b19;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -webkit-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  z-index: -1;
}

@media screen and (max-width: 1300px) {
  /* line 138, ../sass/global-style.scss */
  nav ul {
    display: block;
    width: 100%;
    border-bottom: none;
    background: #1b1b19;
  }

  /* line 144, ../sass/global-style.scss */
  nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #80bd00;
    text-transform: full-width;
  }
}
/* line 154, ../sass/global-style.scss */
button.menu-toggle {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-align: right;
  right: 0px;
  position: relative;
  height: 100%;
  border: none;
  color: white;
  background: transparent;
  float: right;
  box-shadow: none;
}
/* line 167, ../sass/global-style.scss */
button.menu-toggle:before {
  content: '\f0c9';
  font-size: 40px;
  padding-right: 20px;
  font-family: FontAwesome;
}
/* line 174, ../sass/global-style.scss */
button.menu-toggle:focus {
  color: #80bd00;
}

/* line 210, ../sass/global-style.scss */
#animated-logo {
  width: 400px;
  position: absolute;
  display: block;
}
@media screen and (min-width: 1301px) {
  /* line 212, ../sass/global-style.scss */
  #animated-logo .surname {
    display: block;
    font-size: 50px;
    position: absolute;
    left: 140px;
    height: 80px;
    top: 40px;
    line-height: 20px;
    font-weight: bold;
  }
  /* line 224, ../sass/global-style.scss */
  #animated-logo .surname .name {
    color: #80bd00;
    font-size: 20px;
    padding-left: 3px;
  }
}
@media screen and (max-width: 1300px) {
  /* line 212, ../sass/global-style.scss */
  #animated-logo .surname {
    display: block;
    font-size: 20px;
    position: absolute;
    left: 50px;
    height: 40px;
    top: 3px;
    line-height: 20px;
    font-weight: bold;
  }
  /* line 241, ../sass/global-style.scss */
  #animated-logo .surname .name {
    color: #80bd00;
    font-size: 20px;
    padding-left: 3px;
  }
}
@media screen and (min-width: 1301px) {
  /* line 210, ../sass/global-style.scss */
  #animated-logo {
    height: 120px;
    width: 120px;
    left: 150px;
    line-height: 120px;
    top: 20px;
  }
  /* line 183, ../sass/global-style.scss */
  #animated-logo .box {
    position: absolute;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 110px;
    width: 110px;
    height: 110px;
    padding: 1%;
    left: 5px;
    top: 5px;
  }
  /* line 194, ../sass/global-style.scss */
  #animated-logo .boxx {
    line-height: 110px;
    width: 110px;
    height: 110px;
    font-size: 90px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-weight: bold;
    color: #b9babc;
    left: 5px;
    top: 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1300px) {
  /* line 210, ../sass/global-style.scss */
  #animated-logo {
    height: 50px;
    width: 50px;
    top: 10px;
    left: 30px;
  }
  /* line 183, ../sass/global-style.scss */
  #animated-logo .box {
    position: absolute;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 40px;
    width: 40px;
    height: 40px;
    padding: 1%;
    left: 5px;
    top: 5px;
  }
  /* line 194, ../sass/global-style.scss */
  #animated-logo .boxx {
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    font-weight: bold;
    color: #b9babc;
    left: 5px;
    top: 10px;
    margin: 0 auto;
  }
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box1 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(10deg);
  -ms-transform: rotateZ(10deg);
  -webkit-transform: rotateZ(10deg);
  transform: rotateZ(10deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box2 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  -webkit-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box3 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box4 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -webkit-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box5 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(50deg);
  -ms-transform: rotateZ(50deg);
  -webkit-transform: rotateZ(50deg);
  transform: rotateZ(50deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box6 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(60deg);
  -ms-transform: rotateZ(60deg);
  -webkit-transform: rotateZ(60deg);
  transform: rotateZ(60deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box7 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(70deg);
  -ms-transform: rotateZ(70deg);
  -webkit-transform: rotateZ(70deg);
  transform: rotateZ(70deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box8 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(80deg);
  -ms-transform: rotateZ(80deg);
  -webkit-transform: rotateZ(80deg);
  transform: rotateZ(80deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box9 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box10 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(100deg);
  -ms-transform: rotateZ(100deg);
  -webkit-transform: rotateZ(100deg);
  transform: rotateZ(100deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box11 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(110deg);
  -ms-transform: rotateZ(110deg);
  -webkit-transform: rotateZ(110deg);
  transform: rotateZ(110deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box12 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(120deg);
  -ms-transform: rotateZ(120deg);
  -webkit-transform: rotateZ(120deg);
  transform: rotateZ(120deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box13 {
  border: #80bd00 1px solid;
  -moz-transform: rotateZ(130deg);
  -ms-transform: rotateZ(130deg);
  -webkit-transform: rotateZ(130deg);
  transform: rotateZ(130deg);
}
/* line 280, ../sass/global-style.scss */
#animated-logo .box14 {
  border: #b9babc 2px solid;
  -moz-transform: rotateZ(140deg);
  -ms-transform: rotateZ(140deg);
  -webkit-transform: rotateZ(140deg);
  transform: rotateZ(140deg);
}

/* line 305, ../sass/global-style.scss */
.content {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}
/* line 309, ../sass/global-style.scss */
.content #main {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}
/* line 311, ../sass/global-style.scss */
.content #main article.page {
  position: relative;
  top: -30px;
  margin-top: -20px;
  display: block;
}

/* line 319, ../sass/global-style.scss */
.entry-content {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
}

/* line 323, ../sass/global-style.scss */
.fullscreen {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  display: block;
  position: static;
  top: -24px;
  padding-top: 150px;
  background-position: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

/* line 337, ../sass/global-style.scss */
.front-cv .front-wrapper {
  opacity: 0.1;
}

/* line 341, ../sass/global-style.scss */
.front-cv .front-wrapper {
  position: relative;
  margin-top: 10%;
  text-align: right;
  top: auto;
  padding: 0 40px;
}
@media screen and (min-width: 1300px) {
  /* line 341, ../sass/global-style.scss */
  .front-cv .front-wrapper {
    width: 45%;
    right: 5%;
    float: right;
  }
}
@media screen and (max-width: 1300px) {
  /* line 341, ../sass/global-style.scss */
  .front-cv .front-wrapper {
    width: 100%;
  }
}
/* line 359, ../sass/global-style.scss */
.front-cv .front-wrapper h1 {
  color: #1b1b19;
  border-bottom: 1px solid #80bd00;
  font-size: 46px;
  font-weight: normal;
}
/* line 365, ../sass/global-style.scss */
.front-cv .front-wrapper .infos {
  color: #4c4c4c;
  font-size: 30px;
  line-height: 30px;
}

/* line 373, ../sass/global-style.scss */
.entry-footer {
  display: none;
}

/* line 377, ../sass/global-style.scss */
.btns {
  z-index: 5;
  margin-top: 30px;
  padding: 20px;
  background: #1b1b19;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -moz-transform: skewY(0deg);
  -ms-transform: skewY(0deg);
  -webkit-transform: skewY(0deg);
  transform: skewY(0deg);
}
/* line 385, ../sass/global-style.scss */
.btns:after {
  display: block;
  content: '';
  background: #1b1b19;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
  z-index: -1;
}

/* line 398, ../sass/global-style.scss */
.btns a {
  color: #1b1b19;
}

/* line 403, ../sass/global-style.scss */
.btn, .btn-light {
  width: 45%;
  opacity: 0;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  line-height: 40px;
  font-size: 20px;
  display: inline-block;
  padding: 15px 45px;
  background: #80bd00;
  border: #80bd00 1px solid;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
}
@media screen and (max-width: 1300px) {
  /* line 403, ../sass/global-style.scss */
  .btn, .btn-light {
    width: 100%;
  }
}
/* line 418, ../sass/global-style.scss */
.btn:hover, .btn-light:hover {
  color: #80bd00;
  background: #1b1b19;
}
/* line 423, ../sass/global-style.scss */
.btn a, .btn-light a {
  color: #1b1b19;
}
/* line 425, ../sass/global-style.scss */
.btn a:visited, .btn-light a:visited {
  color: #1b1b19;
}

/* line 434, ../sass/global-style.scss */
.btn-light {
  background: white;
  color: #4c4c4c;
}
/* line 439, ../sass/global-style.scss */
.btn-light:hover {
  background: #1b1b19;
  color: #80bd00;
}

/* line 446, ../sass/global-style.scss */
.mds {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  margin-top: 0px;
}

/* line 455, ../sass/global-style.scss */
.rs {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: inline-block;
  font-size: 3em;
  background: #1b1b19;
  margin-right: 10px;
  height: 100px;
  margin-top: 0px;
  opacity: 0;
}
@media screen and (max-width: 1300px) {
  /* line 455, ../sass/global-style.scss */
  .rs {
    font-size: 2em;
  }
}
/* line 469, ../sass/global-style.scss */
.rs:hover {
  color: #1b1b19;
  background: #80bd00;
}
/* line 474, ../sass/global-style.scss */
.rs a {
  line-height: 150px;
  padding: 20px;
  color: #80bd00;
}
@media screen and (max-width: 1300px) {
  /* line 474, ../sass/global-style.scss */
  .rs a {
    line-height: 75px;
    padding: 15px;
  }
}
/* line 483, ../sass/global-style.scss */
.rs a:hover {
  color: #1b1b19;
}

/* line 488, ../sass/global-style.scss */
.contact {
  height: 0px;
  opacity: 0;
  background: #1b1b19;
  color: #80bd00;
  text-transform: uppercase;
  font-size: 2em;
  padding: 20px 10px;
  margin-bottom: -30px;
  margin-top: 10px;
  text-align: center;
}
/* line 499, ../sass/global-style.scss */
.contact a {
  color: #80bd00;
  text-decoration: none;
}

/* line 509, ../sass/global-style.scss */
footer {
  background: #1b1b19;
  padding: 40px;
  text-align: center;
}
/* line 515, ../sass/global-style.scss */
footer a {
  color: #80bd00;
}
/* line 517, ../sass/global-style.scss */
footer a:visited {
  color: #80bd00;
}
